<div class="container">
  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <img src="" alt="" />
        <div>Product Price &nbsp;&nbsp;&nbsp; {{ price }}</div>
        <div>Product Seller &nbsp;&nbsp;&nbsp; {{ company }}</div>
      </div>
      <div class="col-8">
        <h4>Product Details</h4>
        <div>Product Name &nbsp;&nbsp;&nbsp; {{ name }}</div>
        <div>Product Description &nbsp;&nbsp;&nbsp; {{ details }}</div>
      </div>
    </div>
  </div>
</div>
