<div class="container">
  <div class="col-12">
    <div *ngIf="flg" class="col-9">
      <!-- <div *ngFor="let item of items">
        <div>{{ item.product.name }}</div>
      </div> -->
      <div *ngFor="let item of items" class="card col" style="border: 0px">
        <div class="shadow">
          <img
            src="../../assets/images/{{ item.product.image }}"
            alt=""
            srcset=""
          />
        </div>
        <div class="card-body justify-content-center">
          <span class="card-title">{{ item.product.name }}</span>
          <p>{{ item.product.details }}</p>
          <div>{{ item.product.price }}</div>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="remove(item.product._id)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="flg" class="col-3">
      <ul>
        <li *ngFor="let item of items">
          {{ item.product.name }}&nbsp;&nbsp;&nbsp;{{ item.product.price }}
        </li>
      </ul>
      <div>Total&nbsp;&nbsp;&nbsp;{{ total }}</div>
      <a [routerLink]="['/home']">Continue Shopping</a>
      <button type="button" class="btn btn-secondary" (click)="checkout()">
        Check Out
      </button>
    </div>
    <div *ngIf="!flg">
      <h2>Check Out Products</h2>
      <label for="">Name</label><br /><br />
      <input type="text" /><br /><br />
      <label for="">Street Address</label><br /><br />
      <input type="text" name="" id="" /><br /><br />
      <label for="">Country</label><br /><br />
      <select name="" id="">
        <option value="" selected>Choose...</option>
        <option value="">United States</option>
        <option value="">Mexico</option>
        <option value="">Guatemala</option>
      </select>
      <label for="">Zip</label><br /><br />
      <input type="text" name="" id="" /><br /><br />
      <input type="submit" value="Place Order" />
    </div>
  </div>
</div>
