<div *ngIf="notify" class="alert alert-success container marge">
  {{ notify }}
</div>
<ng-container *ngIf="!auth.isAuthenticated()">
  <div class="container">
    <div class="jumbotron">
      <h3>Welcome to the Bazar & Suuk</h3>
      <h5>The most popular ecommerce site</h5>
      <h6>Please login to continue</h6>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="auth.isAuthenticated()">
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-2">
          <form [formGroup]="brandRef">
            <select name="" id="brand" class="custom-select">
              <option selected>All</option>
              <option
                *ngFor="let company of companies"
                formControlName="cname"
                value="company.name"
              >
                {{ company.name }}
              </option>
            </select>
          </form>
        </div>
        <div class="col-10">
          <div
            *ngFor="let product of products"
            class="card col"
            style="border: 0px"
          >
            <div class="shadow">
              <img
                src="../../assets/images/{{ product.image }}"
                alt=""
                srcset=""
              />
            </div>
            <div class="card-body justify-content-center">
              <span class="card-title">{{ product.name }}</span>
              <p>{{ product.details }}</p>
              <div class="row">
                <div class="col">{{ product.price }}</div>
                <div class="col">
                  <a
                    [routerLink]="[
                      '/cart',
                      {
                        id: product._id,
                        name: product.name,
                        image: product.image,
                        price: product.price,
                        details: product.details
                      }
                    ]"
                    >Add to Cart</a
                  >
                </div>
                <div class="col">
                  <a
                    [routerLink]="[
                      '/product-details',
                      {
                        id: product._id,
                        name: product.name,
                        image: product.image,
                        price: product.price,
                        details: product.details,
                        company: product.company
                      }
                    ]"
                    >Details</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- <div> -->
<!-- <app-product></app-product> -->
<!-- <router-outlet></router-outlet> -->
<!-- </div> -->
